.log-in-form{
    width : 30%;
    margin : 30px auto;
    border : 1px solid gray;
    border-radius : 2%;
    padding : 10px;
}
.sign-up-form{
    width : 100%;
    margin : 30px auto;
    border : 1px solid gray;
    border-radius : 2%;
    padding : 10px;
  
}
.sign-up{
    width : 30%;
    margin : 30px auto;
  
}
.form-body {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    margin-top: 40px;
}
.form-body input{
    width : 100%;
    border-bottom : 1px solid gray;
    border-top : none;
    border-right : none;
    border-left : none;
    padding : 10px;
}

input:active {
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=submit] {
    padding: 10px;
    font-weight: bold;
    margin: 3px auto;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 14px;
    margin-left: 70px;
    background-color: #F06262;
    color: white;
    border-radius: 5px;
    width: 40%;
}
a{
    text-decoration: none;
    text-align: center;
}

.icon{
    width : 20px;
}

.sign-up button {
    padding: 5px;
    border: 1px solid gray;

    margin: 4px;
    width: 70%;
    margin-left: 50px;
    border-radius: 30px;

}